$background: #7f7f7f;
$stripes: #d3d3d3;
$fcc: #006400;

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: $background;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100%;
    width: 100vw;
}

.banner {
    background-color: $fcc;
    height: 6vh;
    width: 100vw;
    margin-bottom: 5vh;
    border: 1px solid black;   

    .logo {
        margin-top: 1vh;
        width: 15vw;
    }

}

table {
    padding-top: 10vh;
    border-collapse: collapse;
    margin: auto;
    
    td, th {
        border: 1px solid black;
    }

    th {
        background: white;
        padding: 0;
        text-align: center;
        height: 6vh;
    }

    tbody tr:nth-child(odd) {
        background: $stripes;
    }

    tbody tr:nth-child(even) {
        background: white;
    } 
    
    .leaderboard {
        background-color: $fcc;
        color: white;
        font-size: 1.5em;
        height: 6vh;
    }

    .rank {
        color: $fcc;
        width: 1vw;
    }

    .camper {
        color: $fcc;
        width: 25vw;
    }

    .month {
        color: $fcc;
        width: 25vw;
        cursor: pointer;
    }

    .allTime {
        color: $fcc;
        width: 25vw;
        cursor: pointer;
    }

    .sorted::after {
        content: '\25bc';
        color: $fcc;
        font-size: 1em;
    }

    .avatar {
        height: 4vh;
        width: 4vh;
    }
}

.footer {
    text-align: center;
    background-color: $fcc;
    height: 6vh;
    width: 100vw;
    margin-top: 5vh;
    border: 1px solid black;
    position: relative;

    a {
        color: white;
        line-height: 2.5em;
    }
}

